<% provide(:title, "About") %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<h1>About</h1>
<p>
  We are building this social network from scratch for gamers 
  <!-- This sample social network was made following <a href="http://www.railstutorial.org/"><em>Michael Hartl Ruby on Rails
  Tutorial</em></a>. -->
</p>

<div class="social-btns">
  <!--a class="btn github" href="https://github.com/luccab"><i class="fab fa-github"></i></!--a>
  <a class="btn linkedin" href="https://www.linkedin.com/in/lucca-castellassi-bazzo-bertoncini-31160413b/"><i class="fab fa-linkedin-in"></i></a>
  <a class="btn google" href="mailto:luccabazzo@gmail.com"><i class="fab fa-google"></i></a>
  <a class="btn dribbble" href="#"><i class="fa fa-dribbble"></i></a>
  <a class="btn skype" href="#"><i class="fa fa-skype"></i></a-->
</div>
